body {
  background-color: #6facc3;
  box-sizing: border-box;
}

#main-container {
  display: flex;
}

#navbar-container {
  height: 100%;
  width: 20%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

#content-container {
  height: 100%;
  width: 80%;
  position: fixed;
  top: 0;
  left: 20%;
}

#info-container {
  position: fixed;
  width: 28%;
  height: 4%;
  right: 2vw;
  bottom: 2vw;
  font: bold 2vw "Open Sans", serif;
  color: rgb(212, 209, 209);
}

button {
  flex: 1;
  font: bold 2vw "Open Sans", serif;
  color: rgb(255, 255, 255);
}

button.active,
button:hover {
  opacity: 0.5;
}

#clock-tab {
  background-color: #00203FFF;
}

#countdown-tab {
  background-color: #00203FFF;
}

#stopwatch-tab {
  background-color: #00203FFF;
}


#countdown-content,
#stopwatch-content {
  display: none;
}


#clock-time,
#countdown-time,
#stopwatch-time {
  flex: 1;
  display: block;
  
  font-size: 6vw;
}


#clock-content button,
#countdown-content button,
#stopwatch-content button {
  flex: 1;
  font-size: 2vw;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  border: rgb(244, 212, 212);
  border-radius: 8px;
  padding: 0.5em;
  margin: 0.5em;
  cursor: pointer;
}

.content {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  font: bold 6em "Open Sans", serif;
  align-items: center;
}


@media screen and (max-width: 700px) {
  #main-container {
    flex-direction: column;
  }

  #navbar-container {
    height: 10%;
    width: 100%;
    flex-direction: row;
  }

  #content-container {
    width: 100%;
    height: 90%;
    top: 10%;
    left: 0%;
  }

  #info-container {
    width: 55%;
    height: 4%;
    font: bold 4vw "Open Sans", serif;
  }

  #clock-time,
  #countdown-time,
  #stopwatch-time {
    font-size: 10vw;
  }

  .nav-button {
    font-size: 5vw;
  }

  #clock-content button,
  #countdown-content button,
  #stopwatch-content button {
    font-size: 4vw;
  }
}
